:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --typical-lh: 1.36;
  --accent-color: #ff6c00;
  --l-gra: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.no-scroll {
  overflow: hidden;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.btn {
  min-width: 150px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  transition: color 300ms linear, background-color 300ms linear;
}

.btn:is(:hover, :focus) {
  background-color: var(--accent-color);
  color: var(--main-btn-color);
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}

.pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

/*------------------- HEADER----------------- */

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-logo {
  margin-right: 130px;
  background-color: #ffffff;
}
